$break-mobile: 500px;
$break-tablet: 800px;

.socialButtons {
  margin: 0 auto;
  @media screen and (max-width: $break-tablet) {
    margin: 2% 0 0 40%;
  }
  @media screen and (max-width: $break-mobile) {
    margin: 0 auto;
  }
}

.socialBtnContent {
  display: flex;
  flex-direction: row;
}
