$break-mobile: 500px;
$break-mobile: 800px;

.socialButton {
  margin: 0 auto;
  @media screen and (max-width: $break-mobile) {
    margin: 0 auto;
  }
}

.socialBtnContent {
  display: flex;
  flex-direction: row;
}
