@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.titleBox {
    height: 400px;
    margin: 15% 0 0 0;
  img {
      width: auto;
      height: auto;
  }
}

.title {
    // margin: 15% 0 0 0;
    font-size: 64px;
    font-family: 'Abril Fatface', ;
}

.description {
    margin: 1% 0 0 0;
    font-size: 24px;
}

.socialButtons {
    margin: 1% 38% 0 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}