$break-mobile: 500px;
$break-tablet: 800px;

.grow {
  padding: 1%;
  border-radius: 10px;
  height: 260px;
  width: 95%;
  margin: 5px 1% 5px 1%;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  @media screen and (max-width: $break-mobile) {
    width: 70%;
    height: 39px;
  }
  @media screen and (max-width: $break-tablet) {
    height: 200px;
  }
  .serviceTitle {
    font-size: 24px;
    @media screen and (max-width: $break-tablet) {
      font-size: 14px;
    }
  }
  .serviceIcons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30% 0 30%;
  }
  h2 {
    margin: 0 0 2% 0;
  }
  img {
    width: 125px;
  }
  .serviceDescription {
    font-size: 24px;
    margin: 2% 25% 0 25%;
    @media screen and (max-width: $break-tablet) {
      font-size: 14px;
    }
  }
}
.grow:hover {
  height: 395px;
  @media screen and (max-width: $break-tablet) {
    height: 315px;
  }
}
