$break-mobile: 500px;
$break-tablet: 800px;

// .MuiToobar-regular {
//     height: 0px !important;
// }

.stormPeakMobileLogo {
    @media screen and (min-width: $break-tablet) {
        display: none;
    }
}

.hamburgerMenuIcon {
    @media screen and (min-width: $break-tablet) {
        display: none;
    }
}