@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

$break-mobile: 500px;
$break-tablet: 800px;

.navContent {
  @media screen and (max-width: $break-mobile) {
    display: flex !important;
    justify-content: center;
    padding-right: 8% !important;
  }
}

.logo {
  margin-left: 4%;
  @media screen and (max-width: $break-mobile) {
    margin-left: 0%;
  }
}

img {
  width: 5%;
}

.navTitle {
  font-family: "Abril Fatface";
  font-size: 20px;
}

.navLinks {
  @media screen and (max-width: $break-mobile) {
    display: none !important;
  }
}

.navLinks {
  display: flex;
  margin-left: 55%;
  a {
    text-decoration: none;
    color: white;
    padding: 0 20% 0 0;
  }
  a:hover {
    color: gray;
  }
}

.navLinkObject {
  margin: 0 10% 0 10%;
}
