@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$break-mobile: 500px;
$break-tablet: 800px;

#home {
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.navContent {
  @media screen and (max-width: $break-mobile) {
    display: flex !important;
    justify-content: center;
    padding-right: 8% !important;
  }
}

.logo {
  margin-left: 4%;
  @media screen and (max-width: $break-mobile) {
    margin-left: 0%;
  }
  @media screen and (max-width: $break-tablet) {
    margin-left: 0%;
  }
}

img {
  width: 5%;
}

.navTitle {
  font-family: "Abril Fatface";
  font-size: 20px;
  @media screen and (max-width: $break-tablet) {
    width: auto;
  }
}

.navLinks {
  display: flex;
  margin-left: 55%;
  @media screen and (max-width: $break-mobile) {
    display: none !important;
  }
  @media screen and (max-width: $break-tablet) {
    margin-left: 30% !important;
  }
  a {
    text-decoration: none;
    color: white;
    padding: 0 20% 0 0;
    @media screen and (max-width: $break-tablet) {
      padding: 0 1% 0 0;
    }
  }
  a:hover {
    color: gray;
  }
}

.navLinkObject {
  margin: 0 10% 0 10%;
}
