@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$break-mobile: 500px;
$break-tablet: 800px;

.aboutTitle {
  font-size: 34px;
  color: black;
  margin: 28% 0 0 0;
  font-family: "Roboto Slab";
  @media screen and (max-width: $break-mobile) {
    margin: 5% 0 0 0;
    font-size: 24px;;
  }
  @media screen and (max-width: $break-tablet) {
    margin: 0% 0 0 0;
  }
}

.aboutContent {
  margin: 2% 20% 0 20%;
  font-size: 16px;
  // font-weight: bold;
  font-family: "Roboto";
  @media screen and (max-width: $break-mobile) {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  @media screen and (max-width: $break-tablet) {
    margin: 0 0 30% 0;
    padding: 0 5% 0 5%;
  }
}
